#### Responda os itens a seguir por meio de um Jupyter Notebook usando a base de indicadores sócio-demográficos:

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_excel('Indicadores Socio-Demograficos.xlsx')

In [5]:
data.head(5)

,CIDADE,ESTADO,IBGE_RES_POP,IBGE_POP_URB,POP_ABAIXO_1,POP_1_4,POP_5_9,POP_10-14,POP_15-59,POP_60_MAIS,...,IDHM_Educacao,LONG,LAT,TV_CABO,POP_ESTIMADA,PIB,PIB_CAPITA,CARROS,MOTOS,TOT_EMPRESAS
0,Abadia De Goiás,GO,6876.0,5300.0,69.0,318.0,438.0,517.0,3542.0,416.0,...,0.622,-49.440548,-16.758812,360.0,8583.0,166.41,20664.57,2158.0,1246.0,284.0
1,Abadia Dos Dourados,MG,6704.0,4154.0,38.0,207.0,260.0,351.0,2709.0,589.0,...,0.563,-47.396832,-18.487565,77.0,6972.0,180.09,25591.70,2227.0,1142.0,476.0
2,Abadiânia,GO,15757.0,10656.0,139.0,650.0,894.0,1087.0,6896.0,990.0,...,0.579,-48.718812,-16.182672,227.0,19614.0,287984.49,15628.40,2838.0,1426.0,288.0
3,Abaeté,MG,22690.0,18464.0,176.0,856.0,1233.0,1539.0,11979.0,2681.0,...,0.556,-45.446191,-19.155848,1230.0,23223.0,430235.36,18250.42,6928.0,2953.0,621.0
4,Abaetetuba,PA,141100.0,82956.0,1354.0,5567.0,7618.0,8905.0,53516.0,5996.0,...,0.537,-48.884404,-1.723470,3389.0,156292.0,1249255.29,8222.36,5277.0,25661.0,931.0

In [6]:
data.columns

Index(['CIDADE', 'ESTADO', 'IBGE_RES_POP', 'IBGE_POP_URB', 'POP_ABAIXO_1',
       'POP_1_4', 'POP_5_9', 'POP_10-14', 'POP_15-59', 'POP_60_MAIS', 'IDHM',
       'IDHM_Renda', 'IDHM_Longevidade', 'IDHM_Educacao', 'LONG', 'LAT',
       'TV_CABO', 'POP_ESTIMADA', 'PIB', 'PIB_CAPITA', 'CARROS', 'MOTOS',
       'TOT_EMPRESAS'],
      dtype='object')

### Função que generaliza a solução dos ítens b, c e d

A função **transform_data** retorna as 15 primeiras linhas de um dataframe de acordo com a sequência de passos abaixo:

1. Para o dataframe **data**, aplique a função lambda **transform**, no eixo da coluna **axis=1** e retorne o resultado em ordem **ascending=True|False**.
2. Armazene o resultado da série resultante do passo 1 (pandas.Series) na variável **result_series**. Esta série contém uma coluna com os valores do resultado da transformação lambda e um índice com a posição da linha em que este valor estava no dataset original antes da ordenação.
3. Localize todas as linhas do dataset original de acordo com o índice **data.loc[result_series.index]**.
4. Armazene na variável **result_data** o resultado do passo 3 somente com as colunas selecionadas em **columns**.
5. Adicione uma nova coluna **result_column** ao resultado; e atribua os valores calculados na transformação **result_series.values**.
6. Do dataset resultante no passo 5 retorne o número de linhas definidos em **rows**.

*Nota: Os valores para a quantidade de linhas no resultado rows=15 e a ordenação descrescente ascending=False foram definidas como padrão e podem ser modificados na chamada da função.*

In [8]:
def transform_data(data, transform, result_column, columns, rows=15, ascending=False):
    result_series = data.apply(transform, axis=1).sort_values(ascending=ascending)
    result_data = data.loc[result_series.index][columns]
    result_data[result_column] = result_series.values
    return result_data.head(rows)

**a)** Quais são os top 15 municipios com maior quantidade de assinantes de tv a cabo?

In [7]:
data.sort_values(by='TV_CABO',ascending=False)[['CIDADE', 'ESTADO', 'TV_CABO']].head(15)

                     CIDADE ESTADO    TV_CABO
4856              São Paulo     SP  2047668.0
4208         Rio De Janeiro     RJ  1271672.0
592          Belo Horizonte     MG   474416.0
755                Brasília     DF   460682.0
3948           Porto Alegre     RS   352371.0
1508               Curitiba     PR   333275.0
951                Campinas     SP   237013.0
2886                 Manaus     AM   234594.0
4333               Salvador     BA   220223.0
2036              Guarulhos     SP   177153.0
1831              Fortaleza     CE   173478.0
1927                Goiânia     GO   171454.0
4536            Santo André     SP   148291.0
4599  São Bernardo Do Campo     SP   145954.0
1812          Florianópolis     SC   141608.0

**b)** Quais são os top 15 municípios com maior percentual de assinantes de tv a cabo? Quais insights chegamos quando avaliamos e comparamos os 2 rankings?

In [10]:
transform_data(
    data,
    lambda x: x['TV_CABO'] / x['POP_ESTIMADA'] * 100,
    result_column='TV_CABO_PER_CAPITA_%',
    columns=['CIDADE', 'ESTADO', 'TV_CABO', 'POP_ESTIMADA']
)

                   CIDADE ESTADO   TV_CABO  POP_ESTIMADA  TV_CABO_PER_CAPITA_%
4697  São João Da Paraúna     GO     703.0        1417.0             49.611856
1052       Capão Da Canoa     RS   22966.0       52004.0             44.161988
614              Bertioga     SP   21145.0       61736.0             34.250680
2165        Ilha Comprida     SP    3750.0       10965.0             34.199726
1773  Fernando De Noronha     PE    1006.0        3021.0             33.300232
261          Antônio Dias     MG    2938.0        9363.0             31.378832
4582               Santos     SP  134816.0      432957.0             31.138427
69     Águas De São Pedro     SP    1033.0        3380.0             30.562130
395         Arroio Do Sal     RS    2967.0        9842.0             30.146312
4607   São Caetano Do Sul     SP   46888.0      160275.0             29.254718
2894          Mangaratiba     RJ   12660.0       43689.0             28.977546
1812        Florianópolis     SC  141608.0      492977.0             28.725072
5248           Tiradentes     MG    2162.0        7886.0             27.415673
4889        São Sebastião     SP   22611.0       87596.0             25.812823
5561            Xangri-Lá     RS    4135.0       16025.0             25.803432

**c)** Faça a mesma análise para a estatística “Quantidade de Motos”.

In [18]:
data.sort_values(by='MOTOS', ascending=False)[['CIDADE', 'ESTADO', 'MOTOS']].head(15)

              CIDADE ESTADO      MOTOS
4856       São Paulo     SP  1134570.0
4208  Rio De Janeiro     RJ   363486.0
1831       Fortaleza     CE   311017.0
1927         Goiânia     GO   296598.0
592   Belo Horizonte     MG   248456.0
755         Brasília     DF   211392.0
5212        Teresina     PI   205304.0
2886          Manaus     AM   192002.0
1508        Curitiba     PR   173795.0
971     Campo Grande     MS   169030.0
4111          Recife     PE   160433.0
4333        Salvador     BA   146108.0
580            Belém     PA   141727.0
4179  Ribeirão Preto     SP   139841.0
951         Campinas     SP   131184.0

**c)** Faça a mesma análise para a estatística “Quantidade de Motos”

In [20]:
transform_data(
    data,
    lambda x: x['MOTOS'] / x['POP_ESTIMADA'] * 100,
    result_column='MOTOS_PER_CAPITA_%',
    columns=['CIDADE', 'ESTADO', 'MOTOS', 'POP_ESTIMADA']
)

                   CIDADE ESTADO    MOTOS  POP_ESTIMADA  MOTOS_PER_CAPITA_%
3749              Pereiro     CE   8877.0       16281.0           54.523678
5253       Tocantinópolis     TO  12353.0       22896.0           53.952655
48            Água Branca     PI   8713.0       17349.0           50.221915
5044       Severiano Melo     RN   1388.0        2799.0           49.589139
5312               Tucumã     PA  18995.0       39059.0           48.631557
130         Alta Floresta     MT  24680.0       51615.0           47.815557
4266       Rolim De Moura     RO  26130.0       54702.0           47.767906
2549                 Jaru     RO  24377.0       51933.0           46.939326
3486  Ouro Preto Do Oeste     RO  17010.0       36340.0           46.807925
4114             Redenção     PA  39059.0       83997.0           46.500470
863                Cacoal     RO  38073.0       84813.0           44.890524
5410                Urupá     RO   5191.0       11665.0           44.500643
3774                Picos     PI  34227.0       78002.0           43.879644
688    Bom Jesus Do Norte     ES   4328.0        9910.0           43.673058
3093     Mirante Da Serra     RO   4779.0       11080.0           43.131769

**c)** Faça a mesma análise para a estatística “Quantidade de Carros”.

In [21]:
data.sort_values(by='CARROS', ascending=False)[['CIDADE', 'ESTADO', 'CARROS']].head(15)

                     CIDADE ESTADO     CARROS
4856              São Paulo     SP  5740995.0
4208         Rio De Janeiro     RJ  2039930.0
592          Belo Horizonte     MG  1439055.0
755                Brasília     DF  1288107.0
1508               Curitiba     PR  1062063.0
1927                Goiânia     GO   618284.0
951                Campinas     SP   608817.0
3948           Porto Alegre     RS   608777.0
4333               Salvador     BA   599136.0
1831              Fortaleza     CE   593648.0
2036              Guarulhos     SP   455976.0
4599  São Bernardo Do Campo     SP   403681.0
4111                 Recife     PE   396064.0
2886                 Manaus     AM   373985.0
4536            Santo André     SP   372303.0

**c)** Faça a mesma análise para a estatística Quantidade de Carros.

In [22]:
transform_data(
    data,
    lambda x: x['CARROS'] / x['POP_ESTIMADA'] * 100,
    result_column='CARROS_PER_CAPITA_%',
    columns=['CIDADE', 'ESTADO', 'CARROS', 'POP_ESTIMADA']
)

,CIDADE,ESTADO,CARROS,POP_ESTIMADA,CARROS_PER_CAPITA_%
3631,Passa Vinte,MG,1343.0,2048.0,65.576172
4239,Rio Preto,MG,3562.0,5467.0,65.154564
688,Bom Jesus Do Norte,ES,6359.0,9910.0,64.167508
4607,São Caetano Do Sul,SP,101804.0,160275.0,63.518328
4354,Santa Bárbara Do Monte Verde,MG,1874.0,3117.0,60.121912
1267,Chuí,RS,3938.0,6635.0,59.351922
3856,Piratuba,SC,2335.0,3965.0,58.890290
4058,Quaraí,RS,13106.0,22771.0,57.555663
592,Belo Horizonte,MG,1439055.0,2501576.0,57.525936
1508,Curitiba,PR,1062063.0,1917185.0,55.397001
3639,Passo De Torres,SC,4692.0,8594.0,54.596230
1958,Gramado,RS,19032.0,35875.0,53.050871
5058,Simão Pereira,MG,1382.0,2612.0,52.909648
4536,Santo André,SP,372303.0,716109.0,51.989711
5521,Vinhedo,SP,39787.0,77308.0,51.465566

d) Quais são os top 15 municípios com maior % de população até 14 anos?

In [23]:
transform_data(
    data,
    lambda x: (x['POP_ABAIXO_1'] + x['POP_1_4'] + x['POP_5_9'] + x['POP_10-14']) / x['POP_ESTIMADA'] * 100,
    result_column='POP_ATE_14_%',
    columns=['CIDADE', 'ESTADO', 'POP_ESTIMADA']
)

                        CIDADE ESTADO  POP_ESTIMADA  POP_ATE_14_%
997              Campos Verdes     GO        2459.0     43.554290
2530                    Japurá     AM        3265.0     42.082695
4286                   Roteiro     AL        6680.0     32.065868
1816                 Fonte Boa     AM       18221.0     31.452719
1741                      Faro     PA        7319.0     31.110807
5191                      Tefé     AM       60154.0     30.097749
2664                     Jutaí     AM       14753.0     30.041348
120                      Almas     TO        7131.0     28.944047
4338                   Sampaio     TO        4627.0     28.506592
4862  São Pedro Da Água Branca     MA       12645.0     28.279953
3079     Miracema Do Tocantins     TO       18566.0     28.002801
429              Aurelino Leal     BA       11774.0     27.832512
4426      Santa Luzia Do Norte     AL        7272.0     27.764026
3783                     Pilar     AL       35008.0     27.390882
3003            Mathias Lobato     MG        3227.0     27.331887

d) Quais são os top 15 municípios com maior % de população até 60 anos?

In [ ]:
d) Quais são os top 15 municípios com maior % de população até 60 anos

In [25]:
transform_data(
    data,
    lambda x: x['POP_60_MAIS'] / x['POP_ESTIMADA'] * 100,
    result_column='POP_60_MAIS_%',
    columns=['CIDADE', 'ESTADO', 'POP_ESTIMADA']
)

                      CIDADE ESTADO  POP_ESTIMADA  POP_60_MAIS_%
1795              Flora Rica     SP        1499.0      21.414276
997            Campos Verdes     GO        2459.0      20.780805
69        Águas De São Pedro     SP        3380.0      19.704142
1798                 Floreal     SP        2934.0      18.643490
4582                  Santos     SP      432957.0      18.118889
5339               Turmalina     SP        1759.0      17.737351
4607      São Caetano Do Sul     SP      160275.0      17.500546
4724  São João Do Pau D'Alho     SP        2111.0      17.243013
1285                 Coaraci     BA       17458.0      16.863329
5260                  Tombos     MG        8201.0      16.851603
1589            Dolcinópolis     SP        2119.0      16.800378
1613         Dores Do Indaiá     MG       13541.0      16.793442
3261          Neves Paulista     SP        8936.0      16.662936
2381              Itapirapuã     GO        5316.0      16.610233
324                 Arambaré     RS        3600.0      16.555556

**e)** Como é a distribuição de frequência dos municipios dentro de cada faixa de IDHM (<0.6, entre 0.6 e 0.65, 0.66 a 0.75 e >0.75). Como essa distribuição varia de uma região para outra do Brasil?

1. Primeiro criamos uma função que será aplicada como transformação da coluna IDHM para gerar um nova coluna de categorias.

        Faixa de IDHM        Categoria
        abaixo de 0.6	    Ruim
        entre 0.6 e 0.65	 Razoável
        entre 0.66 e 0.75	Bom
        acima de 0.75	    Elevado
        NaN ou nulo	      Desconhecido

In [26]:
def idhm_range(idhm):
    if pd.isnull(idhm):
        return 'Desconhecido'
    elif idhm < 0.6:
        return 'Ruim'
    elif idhm <= 0.65:
        return 'Razoável'
    elif idhm <= 0.75:
        return 'Bom' 
    else:
        return 'Elevado'

1 . Em seguida criamos a função que será aplicada como transformação da coluna ESTADO para gerar uma nova coluna REGIAO.

In [27]:
def region(state):
    if state in ['AC', 'AP', 'AM', 'PA', 'RO', 'RR', 'TO']:
        return 'Norte'
    elif state in ['AL', 'BA', 'CE', 'MA', 'PB', 'PE', 'PI', 'RN', 'SE']:
        return 'Nordeste'
    elif state in ['DF', 'GO', 'MT', 'MS']:
        return 'Centro-Oeste'
    elif state in ['ES', 'MG', 'RJ', 'SP']:
        return 'Sudeste'
    elif state in ['PR', 'RS', 'SC']:
        return 'Sul'
    else:
        return 'Desconhecido'

1 . Agora criamos uma cópia do dataset original e aplicamos as transformações.

In [29]:
idhm_by_region_data = data[['CIDADE', 'ESTADO', 'IDHM']].copy()
idhm_by_region_data['IDHM_CATEGORIA'] = data['IDHM'].apply(idhm_range)
idhm_by_region_data['REGIAO'] = data['ESTADO'].apply(region)
idhm_by_region_data.head(3)

                CIDADE ESTADO   IDHM IDHM_CATEGORIA        REGIAO
0      Abadia De Goiás     GO  0.708            Bom  Centro-Oeste
1  Abadia Dos Dourados     MG  0.690            Bom       Sudeste
2            Abadiânia     GO  0.690            Bom  Centro-Oeste

1 . Finalmente calculamos as estatísticas solicitadas no exercício, da seguinte forma:

    . Agrupar os resultados com **groupby** usando as novas colunas criadas **['REGIAO', 'IDHM_CATEGORIA']**
    . Calcular as estatísticas das demais colunas usando **aggregate** com um dicionário que define a função aplicada em cada coluna.
    . Para a **CIDADE** calcule o total **count** de municípios em cada faixa de IDHM.
    . Para o **IDHM** calcule a média **mean** em cada faixa de IDHM.

In [30]:
idhm_by_region_data = idhm_by_region_data.groupby(by=['REGIAO', 'IDHM_CATEGORIA']).aggregate({'CIDADE': 'count', 'IDHM': 'mean'})
idhm_by_region_data

                             CIDADE      IDHM
REGIAO       IDHM_CATEGORIA
Centro-Oeste Bom                388  0.696268
             Desconhecido         1       NaN
             Elevado             16  0.768563
             Razoável            52  0.634404
             Ruim                10  0.580800
Nordeste     Bom                133  0.678842
             Desconhecido         2       NaN
             Elevado             10  0.766300
             Razoável           538  0.618972
             Ruim              1113  0.565030
Norte        Bom                 99  0.680202
             Desconhecido         1       NaN
             Elevado              5  0.763400
             Razoável           147  0.626007
             Ruim               198  0.554657
Sudeste      Bom               1068  0.705238
             Elevado            269  0.774483
             Razoável           258  0.629461
             Ruim                73  0.575000
Sul          Bom                876  0.707982
             Desconhecido         4       NaN
             Elevado            225  0.770507
             Razoável            82  0.633427
             Ruim                 5  0.576800

1. Os mesmos resultados podem ser visualizados em outra perspectiva de colunas utilizando a função **unstack**.

In [31]:
idhm_by_region_data.unstack().round(2)

                CIDADE                                        IDHM  \
IDHM_CATEGORIA     Bom Desconhecido Elevado Razoável    Ruim   Bom
REGIAO
Centro-Oeste     388.0          1.0    16.0     52.0    10.0  0.70
Nordeste         133.0          2.0    10.0    538.0  1113.0  0.68
Norte             99.0          1.0     5.0    147.0   198.0  0.68
Sudeste         1068.0          NaN   269.0    258.0    73.0  0.71
Sul              876.0          4.0   225.0     82.0     5.0  0.71


IDHM_CATEGORIA Desconhecido Elevado Razoável  Ruim
REGIAO
Centro-Oeste            NaN    0.77     0.63  0.58
Nordeste                NaN    0.77     0.62  0.57
Norte                   NaN    0.76     0.63  0.55
Sudeste                 NaN    0.77     0.63  0.58
Sul                     NaN    0.77     0.63  0.58